{% extends 'base.html.twig' %}
{% block title %}Project {{ project.name }}{% endblock %}
{% block body %}
<h1>{{ project.name }}</h1>
<p>{{ project.description }}</p>

<h3 class="mt-4">Tasks</h3>
<ul>
    {% for task in project.tasks %}
        <li>
            <a href="{{ path('app_task_show', {id: task.id}) }}">{{ task.title }}</a>
            ({{ task.status }})
        </li>
    {% else %}
        <li>No tasks for this project yet.</li>
    {% endfor %}
</ul>

<a href="{{ path('app_project_edit', {id: project.id}) }}" class="btn btn-secondary">Edit</a>
<a href="{{ path('app_project_index') }}" class="btn btn-link">Back to list</a>
{% endblock %}
